# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old

*.mk

.vscode/
*.kdev4

# Packaging
rpm
deb/tuxedo-keyboard-*
*.deb
*.rpm
