Package: module-name
Version: x.x.x
Section: admin
Priority: optional
Depends: dkms (>= 1.95)
Conflicts: tuxedo-keyboard-dkms (<= 2.0.0), tuxedo-wmi-dkms (<= 1.5.1)
Replaces: tuxedo-keyboard-dkms (<= 2.0.0), tuxedo-wmi-dkms (<= 1.5.1)
Maintainer: TUXEDO Computers GmbH <tux@tuxedocomputers.com>
Homepage: https://www.tuxedocomputers.com
Architecture: all
Description: Keyboard & Backlight driver for TUXEDO notebooks.
 Meant for DKMS framework.
